<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="parts/general :: common_header(~{::title})">
    <title th:text="#{news}"></title>
</head>
<body th:class="${#themes.code('body')}">

<div th:replace="parts/general :: navbar"></div>

<div class="container mt-5 p-5 bg-white">
    <div class="row">
        <div class="col-3 offset-9">
            <div class="text-right">
                <a class="d-inline mt-0" th:if="${show}" th:href="@{'/news/edit/' + ${news.id}}"><img style="width : 20px" src="/img/edit.png" /></a>
                <form class="d-inline mt-0" th:if="${show}" th:action="@{/news/delete}" method="post">
                    <input type="hidden" name="news" th:value="${news.id}"/>
                    <button type="submit" class="btn btn-link"><img style="width : 20px" src="/img/close.png" /></button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5 th:text="${news.title}"></h5>
            <p th:text="${news.text}"></p>
        </div>
    </div>
</div>


<div th:replace="parts/general :: footer"></div>

</body>
</html>